<% provide(:title, t('app.titles.login')) %>
<br /> <br />

<div class="container">

    <div class="table table-bordered">
            <!-- <div class="span6 offset3" style="border:1px solid #cccccc;"> -->
            <h1> 登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陆 </h1>
            <div style="margin-left: 30px">
            <%= simple_form_for(:session, url: sessions_path,
                                          html: { class: "signin_form" }) do |f| %>

                <%= f.input :email %>
                <%= f.input :password %>
                <%= f.submit t('app.button.signin'), class: "btn btn-large btn-primary", style: "width:220px;height:40px;" %>
            <% end %>

            <p class="new_user" style="padding-left:150px;">
                <%= t('app.text.new_user') %><%= link_to t('app.link.register'), register_path %>
            </p>
        </div>
    </div>
</div>