<% provide(:title, 'Edit user') %>
<h1>Update your profile</h1>

<div class="row">
	<div class="span6 offset3">
		<%= simple_form_for(@user) do |f| %>
			<%# SMALL: This maybe not needed any more. %>
			<%= render 'shared/error_messages' %>

			<%= f.input :name, label: "New Name" %>
			<%= f.input :email, label: "New Email" %>

			<%# HACK: password_field_tag cannot work well with simple_form,
								maybe devise gem would be okay. %>
			<div class="control-group password required">
				<%= f.label :current_password, label: "Current Password",
																			 required: true %>
				<%= password_field_tag :current_password, params[:current_password] %>
			</div>

			<%= f.input :password, label: "New Password", placeholder: "Optional" %>
			<%= f.input :password_confirmation, label: "Confirm New Password" %>
			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

		<% end %>

		<%= gravatar_for @user, size: 52, class: "change_gravatar" %>
		<a href="http://gravatar.com/emails" target="_blank">change</a>
	</div>
</div>