<% provide( :title, 'Register' ) %>
<h1>Register</h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for(@user) do |f| %>
      <%# SMALL: This maybe not needed any more. %>
    	<%#= render 'shared/error_messages' %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :password, placeholder: "6 - 20 characters",
                             input_html: { maxlength: 20 },
                             required: true %>
      <%= f.input :password_confirmation,
                             label: "Confirm password",
                             required: true %>

      <%= f.button :submit, "Create my account",
                            class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>