<%= simple_form_for([@user, @lost_item], :html => { :multipart => true }) do |f| %>
  <% if @lost_item.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <%= pluralize(@lost_item.errors.count, "error") %>
        prohibited this lost_item from being saved.
      </div>
      <ul>
        <% @lost_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @lost_item.new_record? %> <%# for new operation %>
    <%= f.input :lost_time, as: :datetime_picker, input_html: { value: DateTime.now } %>
  <% else %>                      <%# for edit operation %>
    <%= f.input :lost_time, as: :datetime_picker, input_html: { value: @lost_item.lost_time } %>
  <% end %>

  <%= f.input :detail, input_html: { rows: 4 } %>
  <%= f.input :finder %>
  <%= f.input :phone %>
  <% if !@lost_item.new_record? %>
    <%= f.input :status, collection: ['unclaimed', 'claimed'],
                         include_blank: false %>
  <% end %>
  <%= f.input :place %>
  <%= f.association :category, include_blank: false %>

  <%#= f.input :photo, as: :file %>

  <%# use following to get a little pretty file upload %>
  <div class="control-group">
    <div class="attach-set">
      <%= f.input :photo, input_html: { hidden: true }, label: 'Photo' %>
      <div class="input-append">
        <input id="file-display" class="input-large uneditable-input" type="text">
        <a id="upload-btn" class="btn"><i class="icon-upload-alt"></i>Browse</a>
      </div>
    </div>
  </div>

  <%= f.button :submit, class: "btn btn-large btn-primary" %>

<% end %>