<%= simple_form_for([@user, @lost_item]) do |f| %>
  <% if @lost_item.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <%= pluralize(@lost_item.errors.count, "error") %>
        prohibited this lost_item from being saved.
      </div>
      <ul>
        <% @lost_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @lost_item.new_record? %> <%# for new operation %>
    <%= f.input :lost_time, as: :datetime_picker, input_html: { value: DateTime.now } %>
  <% else %>                      <%# for edit operation %>
    <%= f.input :lost_time, as: :datetime_picker, input_html: { value: @lost_item.lost_time } %>
  <% end %>

  <%= f.input :detail, input_html: { rows: 4 } %>
  <%= f.input :finder %>
  <%= f.input :phone %>
  <%= f.input :status, collection: ['unclaimed', 'claimed'],
                       include_blank: false %>
  <%= f.input :place %>
  <%= f.association :category, include_blank: false %>

  <%= f.button :submit, class: "btn btn-large btn-primary" %>

<% end %>