<h1>Listing lost_items</h1>

<table>
  <tr>
    <th>Lost time</th>
    <th>Detail</th>
    <th>Finder</th>
    <th>Phone</th>
    <th>Status</th>
    <th>Place</th>
    <th>Category</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lost_items.each do |lost_item| %>
  <tr>
    <td><%= lost_item.lost_time %></td>
    <td><%= lost_item.detail %></td>
    <td><%= lost_item.finder %></td>
    <td><%= lost_item.phone %></td>
    <td><%= lost_item.status %></td>
    <td><%= lost_item.place %></td>
    <td><%= lost_item.category_id %></td>
    <td><%= lost_item.user_id %></td>
    <td><%= link_to 'Show', lost_item %></td>
    <td><%= link_to 'Edit', edit_lost_item_path(lost_item) %></td>
    <td><%= link_to 'Destroy', lost_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lost item', new_lost_item_path %>
