<%= stylesheet_link_tag('jquery.fancybox.css') %>
<p id="notice"><%= notice %></p>

<div class="showbody">
  <div class="showleft">
    <div class="showimage">
     <% if @lost_item.photo.exists? %>
        <a class="fancybox">

          <a id="single_image" href=<%= @lost_item.photo %>><%= image_tag @lost_item.photo(:thumb) %></a>
        </a>
        <br> <br>
      <% end %>
    </div>
  </div>
  <div class="showright">
    <div class="showhead">
      <h3 class="showhead-title">
        <%= t('app.titles.lost_item_info') %>
      </h3>
       <div class="item-showpage-link">
          <%= link_to t('app.link.edit'), edit_user_lost_item_path(@user, @lost_item) %> |
          <%= link_to t('app.link.back'), category_path(@lost_item.category) %>
      </div>
    </div>


      <div class="infoleft">
        <div class="showicon">
        <%= image_tag("time.png") %>
        </div>
        <p>
        <b><%= t('active_record.attributes.lost_item.lost_time')%>:
        </b>
        <%= @lost_item.lost_time.to_date %>
        </p>
         </p>
        <div class="showicon">
        <%= image_tag("call.png") %>
        </div>
  <p>
    <% if logged_in? %>
      <b><%= t('active_record.attributes.lost_item.phone') %>: </b>
      <%= @lost_item.phone %>
    <% else %>
      <%= link_to('登录后查看', signin_path, class: 'btn btn-danger') %>
    <% end %>
  </p>

         <div class="showicon">
        <%= image_tag("place.png") %>
        </div>
  <p>
    <b><%= t('active_record.attributes.lost_item.place') %>: </b>
    <%= @lost_item.place %>
  </p>



      </div>
      <div class="inforight">
                <div class="showicon">
        <%= image_tag("founder.png") %>
        </div>
        <p>
        <b><%= t('active_record.attributes.lost_item.finder') %>: </b>
        <%= @lost_item.finder %>
        </p>

        <div class="showicon">
        <%= image_tag("status.png") %>
        </div>
         <p>
    <b><%= t('active_record.attributes.lost_item.status') %>: </b>
    <%= @lost_item.status.to_s %>
  </p>

        <div class="showicon">
        <%= image_tag("category.png") %>
        </div>

       <p>
    <b><%= t('active_record.attributes.lost_item.category') %>: </b>
    <%= to_chinese(@lost_item.category.name) %>
  </p>

      </div>

      <div class="infobottom">

        <div class="showicon">
        <%= image_tag("detail.png") %>
        </div>
      <p>
          <b><%= t('active_record.attributes.lost_item.detail') %>: </b>
          <%= @lost_item.detail %>
        </p>
    </div>


</div>
</div>

<br> <br>


  <div class="comments">
    <h4><%= t('app.text.comments') %></h4>
    <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
    <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
  </div>

</div>
<%= javascript_include_tag('jquery.fancybox.pack.js') %>
