<%= stylesheet_link_tag('jquery.fancybox.css') %>

<p id="notice"><%= notice %></p>

<p>
  <b>Lost time:</b>
  <%= @lost_item.lost_time %>
</p>

<p>
  <b>Detail:</b>
  <%= @lost_item.detail %>
</p>

<p>
  <b>Finder:</b>
  <%= @lost_item.finder %>
</p>

<p>
  <b>Phone:</b>
  <%= @lost_item.phone %>
</p>

<p>
  <b>Status:</b>
  <%= @lost_item.status %>
</p>

<p>
  <b>Place:</b>
  <%= @lost_item.place %>
</p>

<p>
  <b>Category:</b>
  <%= @lost_item.category.name %>
</p>

<% if @lost_item.photo.exists? %>
  <a class="fancybox">
    <a id="single_image" href=<%= @lost_item.photo %>><%= image_tag @lost_item.photo(:thumb) %></a>
  </a>
  <br> <br>
<% end %>


<%= link_to 'Edit', edit_user_lost_item_path(@user, @lost_item) %> |
<%= link_to 'Back', user_path(@user) %>

<%= javascript_include_tag('jquery.fancybox.pack.js') %>
